<%= render 'menu' %>

<p id="notice"><%= notice %></p>

<h1>Listing Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Comments</th>
      <th class="table-cell-buttons"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.start_time %></td>
        <td><%= appointment.end_time %></td>
        <td><%= appointment.first_name %></td>
        <td><%= appointment.last_name %></td>
        <td><%= appointment.comments %></td>
        <td class="table-cell-buttons">
          <%= link_to 'Show', appointment, :class => 'button' %>
          <%= link_to 'Edit', edit_appointment_path(appointment), :class => 'button' %>
          <%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button-dangerous' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>